.button {
  --transition-speed: 0.5s;
  --cyan: white;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  min-height: 46px;
  font-weight: 300;
  padding: 0px 16px;
  position: relative;
  width: 276px;
  border-radius: 50px;
  transition: color 0.25s, border-color 0.25s ease;
  overflow: hidden;

  &:hover {
    border-color: transparent;
    color: var(--cyan);
  }

  // SVG border animation
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    
    path {
      d: path("M 0.5 23 A 22.5 22.5 0 0 1 23 0.5 L 253 0.5 A 22.5 22.5 0 0 1 275.5 23 A 22.5 22.5 0 0 1 253 45.5 L 23 45.5 A 22.5 22.5 0 0 1 0.5 23");
      stroke-dasharray: 603.372;
      stroke-dashoffset: 603.372;
      stroke: var(--cyan);
      stroke-width: 1;
      stroke-linecap: square;
      stroke-linejoin: round;
      fill: transparent;
      transition: stroke-dashoffset 1s ease-in-out;
    }
  }

  &:hover svg path {
    stroke-dashoffset: 0;
  }
}

